In [144]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sys
import os
sys.path.append(os.path.abspath('/Users/guhansundar/Documents/GuData/ObjectiveSubjectiveHealth/'))
from scripts.parse_database import *

In [145]:
DATABASE_PATH = '/Users/guhansundar/Documents/GuData/ObjectiveSubjectiveHealth/data/database.db'
conn = sqlite3.connect(DATABASE_PATH)

events_df = load_data(conn)
events_df.groupby(['app_id'])['session_timestamp'].nunique()

app_id
behavioral       3
daily_core       3
nback_1min_v1    3
pvt_1min_v1      2
stroop           4
wellbeing        4
Name: session_timestamp, dtype: int64

In [ ]:
behave_df = parse_survey_data(events_df, 'behavioral')
well_df = parse_survey_data(events_df, 'wellbeing')
daycore_df = parse_survey_data(events_df, 'daily_core')
pvt_df = parse_pvt(events_df)
stroop_df = parse_stroop(events_df)

In [147]:
stroop_df

,subject_id,session_id,session_timestamp,acc_overall,acc_congruent,acc_incongruent,acc_interference,rt_mean_congruent,rt_mean_incongruent,rt_interference,ies_congruent,ies_incongruent,ies_interference
0,demo,0723f279-7165-4edd-adff-8e7ec31b9d7c,2025-08-17 00:27:08.111000+00:00,0.7,0.8,0.6,-0.2,991.0,737.333333,-253.666667,1238.75,1228.888889,-9.861111
1,demo,b238e6d7-ec06-461f-a9d4-7f64681cb3f4,2025-08-16 23:10:42.876000+00:00,0.9,1.0,0.8,-0.2,587.2,629.250000,42.050000,587.20,786.562500,199.362500
2,demo,b35a462e-756b-4ece-bf5f-7a0e4bb3754c,2025-08-16 23:42:35.929000+00:00,0.9,1.0,0.8,-0.2,569.0,814.000000,245.000000,569.00,1017.500000,448.500000
3,demo,d3767827-2041-4cc7-87fc-4b28a1ee1b1a,2025-08-16 23:20:06.046000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Testing

In [ ]:
# import sqlite3
# db = "/Users/guhansundar/Documents/GuData/ObjectiveSubjectiveHealth/data/database.db"
# conn = sqlite3.connect(db)
# cur = conn.cursor()
# sid = 'ce757866-4310-4e0a-97ed-c440e828c774'
# cur.execute("BEGIN")
# cur.execute("DELETE FROM events WHERE session_id=?", (sid,))
# cur.execute("DELETE FROM assets WHERE session_id=?", (sid,))
# cur.execute("DELETE FROM sessions WHERE session_id=?", (sid,))
# conn.commit()
# conn.close()

In [ ]:
cleaned = expand_by_app(events_df, app_col="app_id", payload_col="payload")

In [ ]:
cleaned.keys()

In [ ]:
cleaned['nback_1min_v1']

In [ ]:
# drop_ids = ['7d7c55cc-cb2a-4fc9-8ecb-e7d9d41d1c80', '7d7c55cc-cb2a-4fc9-8ecb-e7d9d41d1c80']
# events_df.query("session_id not in @drop_ids")
events_df.query("app_type == 'survey'")

In [ ]:
DATABASE_PATH = '/Users/guhansundar/Documents/GuData/ObjectiveSubjectiveHealth/data/database.db'
conn = sqlite3.connect(DATABASE_PATH)


subject_id = 'demo'

# Query the data
query = f"""
SELECT *
FROM events
WHERE app_type = 'survey'
and subject_id = '{subject_id}'
"""
df = pd.read_sql_query(query, conn)

In [ ]:
df

In [ ]:
print(list_available_surveys(conn, subject_id='demo'))

In [ ]:
df = get_survey_data_for_subject(subject_id='demo', survey='daily_core', conn=conn)

In [ ]:
df

In [ ]:
print("Current PYTHONPATH:", sys.path)

In [ ]:
print("Current PYTHONPATH:", sys.path)

In [ ]:
wide